@using MySalonWeb.ViewModels;
@using static MySalonWeb.ViewModels.BookingViewModel;
@model BookingViewModel
@{
    ViewData["Title"] = "Booking";
}


    <!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bok-breadcrum">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Booking</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="home"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Booking</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Booking Area Start -->
<section class="breadcrumb-area booking-section">
    <div class="container booking-form">
        <div class="row">
            <form asp-action="Booking" method="post">
                <div asp-validation-summary="All" class="text-service-name"></div>
                <div class="form-group">
                    <label class="label-form">Name:</label>
                    @Html.TextBoxFor(m => m.Client.Name, new { @class = "form-control label-form"})
                    <span asp-validation-for="Client.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="label-form">Surename:</label>
                    @Html.TextBoxFor(m => m.Client.Surname, new { @class = "form-control label-form"})
                    <span asp-validation-for="Client.Surname" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="label-form">Email:</label>
                    @Html.TextBoxFor(m => m.Client.Email, new { @class = "form-control label-form"})
                    <span asp-validation-for="Client.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="label-form">Phone:</label>
                    @Html.TextBoxFor(m => m.Client.Phone, new { @class = "form-control label-form"})
                    <span asp-validation-for="Client.Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="label-form">Choose service type:</label>
                    <select asp-for="@Model.ServiceType" asp-items="Html.GetEnumSelectList<ServiceTypes>()" class="form-control label-form"> </select>
                </div>

                <div id="ServiceName"> </div>
                <div id="ServiceTime"> </div>
                
    
                <button type="submit" id="submitOrder" class="btn btn-primary label-form btn-form" disabled='disabled'>Booking</button>
            </form>
        </div>
        <div class="row">
            <img src="~/img/core-img/main_logo.png" alt="">
            <div id="ConfirmOrder"> </div>
        </div>
    </div>

</section>
<!-- Booking Area End -->

@section scripts {
    @{
        <script>

              $('#ServiceType').change(function () {
                  var select = (this);
                  var indexSelected = select.selectedIndex;

                $.ajax(
                {
                    type: 'post',
                        url: '@Url.Action("GetConfigForm", "Booking")?id=' + indexSelected,
                    data: {},
                    dataType: 'html',
                    success: function (response) {
                    $('#ServiceName').empty();
                    $('#ServiceTime').empty();
                    $('#ServiceName').append(response);
                    },
                    error: function (data) {
                        console.log('error: ', data);
                    }
                })
                  

              });


            $(document).on('change', '#Order_ServiceId', function (e) {
                var select = (this);
                var indexSelected = select.selectedIndex;
                var pickedDate = $("#date").val();
                console.log(indexSelected);
                console.log(pickedDate);
                  if (indexSelected && pickedDate != 0) {
                    $.ajax(
                        {
                            type: 'post',
                            url: '@Url.Action("GetTimeAndPrice", "Booking")?id=' + indexSelected + '&date=' + pickedDate,
                            data: {},
                            dataType: 'html',
                            success: function (response) {
                                $('#ServiceTime').empty();
                            $('#ServiceTime').append(response);
                            },
                            error: function (data) {
                                console.log('error: ', data);
                            }
                        })
                  }
                else { console.log("Enter data or service"); }
                
            });

            $(document).on('change', '#date', function (e) {
                var indexSelected = $('#Order_ServiceId').val();
                var pickedDate = $("#date").val();
                console.log(indexSelected);
                console.log(pickedDate);
                if (indexSelected && pickedDate != 0) {
                    $.ajax(
                        {
                            type: 'post',
                            url: '@Url.Action("GetTimeAndPrice", "Booking")?id=' + indexSelected + '&date=' + pickedDate,
                            data: {},
                            dataType: 'html',
                            success: function (response) {
                                $('#ServiceTime').empty();
                                $('#ServiceTime').append(response);
                            },
                            error: function (data) {
                                console.log('error: ', data);
                            }
                        })
                }
                else { console.log("Enter data or service"); }
            });

            $(document).on('change', '#chooseTime', function (e) {
                $('#submitOrder').prop('disabled', !$(this).val());
            }).trigger('change');

        </script>
}
}
  