@using MySalonWeb.ViewModels;
@model BookingViewModel


<div class="form-group">
    <label class="label-form">Service:</label>
    <p class="form-control label-form">@ViewBag.</p>
    </select>
</div>
<div class="form-group">
    <label class="label-form">Date:</label>
    <p class="form-control label-form">@ViewBag.</p>
    </select>
</div>
<div class="form-group">
    <label class="label-form">Time:</label>
    <p class="form-control label-form">@ViewBag.</p>
    </select>
</div>
<div class="form-group">
    <label class="label-form">Price for @ViewBag.ServiceName:</label>
    <p class="form-control label-form">@ViewBag.Price$</p>
</div>
<div class="form-group">
    <label class="label-form">Your expert:</label>
    <p class="form-control label-form">@ViewBag.Expert</p>
</div>



